body {
	font-family: 'PT Sans';
	overflow-y: scroll;
	margin-bottom: 30px;
}

svg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 500px;
    width: 960px;
}
#counties path {
    stroke: #FFFFFF;
    stroke-width: 0.25px;
}
#states path {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1.5px;
}
