body {
    font-family: 'PT Sans';
    margin-bottom: 30px;
}

#container {
    width: 1260px;
    margin: -10px;
}

#top {
    position: relative;
    width: 1260px;
    height: 100px;
    padding-bottom: 10px;
}

#top_text1 {
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 400%;
    color: #666;
}

#top_text2 {
    position: absolute;
    top: 35px;
    left: 580px;
    font-size: 430%;
    color: #000;
    font-weight: bold;
}

#top_text3 {
    position: absolute;
    top: 75px;
    left: 110px;
    color: #333;
    font-size: 110%;
}

.bar {
    width: 1240px;
    margin: 0px;
    background: #EDDA74;
    z-index: 10;
    padding: 3px 10px;
    margin-top: 10px;
}

.toggle {
    float: right;
    margin-right: 10px;
    display: none;
}

.toggle a {
    color: #000;
}

.toggle a:hover {
    text-decoration: none;
}

#nav {
    width: 1260px;
    background: #EFEFEF;
    padding: 15px 0px 10px 0px;
}

#nav1 {
    float: left;
    margin-left: 110px;
    margin-right: 20px;
    width: 250px;
    height: 325px;
    overflow-x: hidden;
    overflow-y: auto;
}

#nav2 {
    float: left;
    width: 760px;
    height: 322px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav_category {
    float: left;
    background: #999;
    width: 220px;
    margin: 3px;
    padding: 5px 10px;
    display: none;
}

.nav_attribute {
    float: left;
    background: #CCC;
    width: 220px;
    height: 45px;
    margin: 3px;
    padding: 5px 10px;
    text-align: left;
}

.nav_attribute_description {
    font-size: 60%;
}

#maps {
    width: 1260px;
    overflow: hidden;
}

.map_container {
    float: left;
    margin: 10px;
    width: 400px;
    height: 220px;
}

.map {
    width: 400px;
    height: 200px;
    cursor: pointer;
    background: #FFF;
}

.map_title {
    width: 400px;
    height: 20px;
    background: #CCC;
    text-align: center;
    padding: 3px 0px;
}

.map_title_option {
    font-size: 80%;
    float: right;
    margin-right: 5px;
}

.map_title_option a {
    color: #000;
}

.map_title_option a:hover {
    text-decoration: none;
}

#map_large_container {
    display: none;
    position: absolute;
    width: 920px;
    height: 540px;
    background: #FFF;
    padding: 10px;
    border: 20px solid #333;
    border-radius: 10px;
    z-index: 10;
}

#map_large_title {
    width: 920px;
    text-align: center;
    font-size: 120%;
}

#counties path {
    stroke: #FFFFFF;
    stroke-width: 0.25px;
}

#states path {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1.5px;
}

#parallel_coordinates {
    width: 1240px;
    height: 300px;
    padding: 0px 10px 10px 10px;
    background: #EFEFEF;
}

#grid {
    margin-left: 10px;
    height: 200px;
    overflow-y: auto;
}

    .row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
    .row:nth-child(odd) { background: rgba(0,0,0,0.05); }
    .header { font-weight: bold; }
    .cell { float: left; overflow: hidden; white-space: nowrap; width: 160px; height: 18px; }
    .col-0 { width: 210px; }

#scatterplots_container {
    width: 1200px;
    height: 300px;
    padding: 20px 30px;
}

.scatterplot {
    float: left;
    width: 400px;
    height: 350px;
}

.clear {
    clear: both;
}

.text_large {
    font-size: 150%;
}

.text_small {
    font-size: 80%;
}
