body {
	font-family: 'PT Sans';
	overflow-y: scroll;
	margin-bottom: 30px;
}

#container {
    width: 1250px;
}

#nav {
    float: left;
    margin-top: 20px;
    width: 260px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 10px;
}

.nav_category {
    background: #CCC;
    width: 220px;
    margin: 3px;
    padding: 5px 10px;
}

#nav_back {
    background: #CCC;
    width: 220px;
    margin: 3px;
    padding: 5px 10px;
    font-weight: bold;
}

svg {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 500px;
    width: 950px;
    float: left;
}

#counties path {
    stroke: #FFFFFF;
    stroke-width: 0.25px;
}
#states path {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1.5px;
}